[Desktop Entry]
Exec=QMPlay2 --enqueue
Icon=QMPlay2
Name=Enqueue in QMPlay2
Name[pl]=Kolejkuj w QMPlay2
StartupNotify=false
Type=Application
Categories=Qt;AudioVideo;Player;Audio;Video;
MimeType=video/mp4;video/mpeg;video/ogg;video/quicktime;video/x-msvideo;video/x-flv;application/x-shockwave-flash;application/vnd.rn-realmedia;video/vnd.rn-realvideo;video/3gpp;video/3gpp2;video/dv;video/webm;video/x-matroska;application/x-matroska;video/x-ms-asf;video/x-ms-wmv;video/x-ogm+ogg;video/x-theora+ogg;video/mp2t;audio/x-ape;audio/mp4;audio/AMR;audio/aac;audio/webm;audio/x-matroska;audio/ac3;audio/flac;audio/mp2;audio/ogg;audio/x-flac+ogg;audio/x-aiff;audio/x-wav;audio/x-vorbis+ogg;audio/x-tta;audio/x-wavpack;audio/x-musepack;audio/x-ms-wma;audio/x-ms-asx;audio/x-mod;audio/x-s3m;audio/x-stm;audio/x-xi;audio/x-xm;audio/x-it;audio/mpeg;audio/x-mpegurl;audio/x-scpls;audio/prs.sid;audio/x-j2b;audio/x-sfx;audio/x-umx;audio/x-gme;video/x-bink;
NoDisplay=true
